<li>
	{{burger_name}}

	<button class="change-status" data-id="{{id}}" data-neweat="{{devoured}}">
		{{#if devoured}}TIME TO EAT!{{else}}EAT UP!{{/if}}
	</button>

	<button class="eat-burger" data-id="{{this.id}}">EAT!</button>
</li>
